body {
  /* filter: blur(1.5rem); */
  background-color: rgb(0, 0, 0);
  color: rgb(65, 24, 6);
  font-family: 'Myriad Pro', sans-serif;
  font-size: 2.5rem;
  /* opacity: 0; */
  font-weight: 400;
}

.blur{
  animation-duration: .2s;
  animation-name: blur;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes blur {
  0%{
    filter: blur(1.5rem);
  }
  30% {
    filter: blur(.5rem);
  }
  50% {
    filter: blur(1rem);
  }
  100% {
    filter: blur(0px);
  }
}

.link-internal,a {
  font-size: 3rem;
  text-decoration: underline;
  color: rgb(65, 24, 6);
}

.link-internal:hover,a:hover {
  color: rgb(75, 34, 16);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar {
  width: .1em;
}

button {
  background-color:rgb(65, 24, 6);;
  outline: 1px solid slategrey;
}

.stat {
  width:33%;
  height:100%;
  display:block;
  background-size: 100%;
}

.hide {
  display: none !important;
}

[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

#map{
  position:absolute;
  top:30%;
}

#map, #factionStrength, #factionStrengthLabel {
  width:30%;
  left:60%;
  position:absolute;
}

#factionStrengthLabel {
top:84%;
font-size: 3.5rem;
width:30%;
text-align: center;
}

.nice-number {
  margin: .5rem;
}

.show {
  display: block;
}

.voteVal {
  display: inline-block;
  width:3rem;
}

#displayStats {
  top: 9%;
  left: 58%;
  display: flex;
  width:35%;
  height:17%;
  position: absolute;
}

#factionStrength {
  margin:0;
  padding:0;
  top: 78%;

  border:.2rem solid rgb(58, 57, 0);
  position: absolute;         
 
  height: 5%;     
}

#factionStrengthBar {
  position: absolute;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,#7a2301 0%,#3a4e01  50%, #4a6403 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  margin:0;
  padding:0;
  border:0; 
  opacity: .8; 
}

#stats {
  display: flex;
  box-sizing: border-box;
  font-size:2rem;
}

#ui-bar {
  display: none;
}

#story {
  margin-left: 0;
  position: absolute;
  /* background-image: url('images/1 Cortes Arrives in Veracruz.jpg'), url('images/Borders/Spaniards.png'); */

  /* background-position: 30% 70%,0 0; */
  background-size: 100%;
  background-repeat: no-repeat;
  /* border-radius:10%;
   border-color:#999999;
   border-width:3rem;
    border-style: solid; */
  margin: 0 !important;
}

textarea {
  color: black;
}

#passages {
  /* border-radius: 2%;1
  border-color: green;
  border-width: .1rem;
  border-style: solid;
  background-color: rgba(255, 255, 255, .8); */

  height: 82%;
  width: 50%;
  max-width: 89% !important;
  top: 9%;
  left: 7%;
  position: absolute;
  overflow: hidden;
}

.passage::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.passage {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.passage {
  position: absolute;
  height: 98%;
  margin: 2%;
  overflow-y: scroll !important;
}

textarea:hover {
  background-color: white;
}

input:not(:disabled):focus,
input:not(:disabled):hover,
select:not(:disabled):focus,
select:not(:disabled):hover,
textarea:not(:disabled):focus,
textarea:not(:disabled):hover {
  background-color: white;
  border-color: #eee;

}

input,
select,
textarea {
  color: black;
}

@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-COND.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-CONDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MyriadPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCOND.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLD.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDIT.woff') format('woff');
}
@font-face {
  font-family: 'Myriad Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Myriad Pro'), url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}