<!DOCTYPE html>
<html>
<head>
	<title> Login with Discord </title>
	<script src="//kit.fontawesome.com/ca9bebe183.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="/static/styles.css"> 
	<style>       
		* {
			font-family: "Roboto"
		}
	</style>
</head>
<body style="color: #383838; background-color: #b9c8f0;">
	<div style="width: 500px; height: 400px; padding: 20px; margin:auto; margin-top: 50px; background-color: white; box-shadow: 0 3px 3px rgba(0,0,0,0.2);;">
		<div style='display: flex; flex-direction: column; align-items: center;'>
			<h1 style="font-weight:bolder;"> Login </h1> 
			
			<!-- Join Button -->
			<div style="width: 85%; margin-top: 25px;">
				<a id="login" style="display: none;" href='%redirectURL%'>
					<button class="button" style="width: 100%; height: 40px; border: none; color: white; background-color: #5865F2;"> 
						<i class="fab fa-discord" style="position: relative; left: -2px; bottom: -1px"></i>
						Log In with Discord
					</button>
				</a>
			</div>
		</div>
	</div>

	<script>
		// console.log(config)

		function generateRandomString() {
			let randomString = '';
			const randomNumber = Math.floor(Math.random() * 10);

			for (let i = 0; i < 20 + randomNumber; i++) {
				randomString += String.fromCharCode(33 + Math.floor(Math.random() * 94));
			}

			return randomString;
		}

		window.onload = () => {
			const fragment = new URLSearchParams(window.location.hash.slice(1));
			const [accessToken, tokenType, state] = [fragment.get('access_token'), fragment.get('token_type'), fragment.get('state')];

			if (!accessToken) {
				const randomString = generateRandomString();
				localStorage.setItem('oauth-state', randomString);

				document.getElementById('login').href += `&state=${encodeURIComponent(btoa(randomString))}`;
				return document.getElementById('login').style.display = 'block';
			}

			if (localStorage.getItem('oauth-state') !== atob(decodeURIComponent(state))) {
				return console.log('You may have been click-jacked!');
			}

			fetch('https://discord.com/api/users/@me', {
				headers: {
					authorization: `${tokenType} ${accessToken}`,
				},
			})
				.then(result => result.json())
				.then(response => {
					const { username, discriminator } = response;
					document.getElementById('info').innerText += ` ${username}#${discriminator}`;
				})
				.catch(console.error);
		}
	</script>
</body>
</html>
