.textInput {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
    border: none;
    outline: none;
    background-color: #e9ebf0;
}

.textInput:focus {
    border-color: #719de3;
    transition: .1s;
}

.textInput:active {
    border-color: #719de3;
    transition: .1s;
}

.button {
    cursor: pointer;
    transition: .1s linear;
}

.button:hover {
    opacity: 80%;
    transition: .1s linear;
}

.button:active {
    opacity: 70%;
    transition: .1s linear;
}

#mainbody {
    color: #383838; 
    background-color: #b9c8f0;
}

#maincontainer {
    width: 500px; 
    height: 400px; 
    padding: 20px; 
    margin:auto; 
    margin-top: 50px; 
    background-color: white; 
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}